#manche {
    display:flex;
    flex-direction: column;
    margin: 30px 15px;
}

.manche__corde {
    display:flex;
}

.manche__fret {
    font-size: 0.8rem;
    flex: 1 1 0px;
    text-align: center;
    vertical-align: center;
    border: 1px solid black;
    height: 50px;
    padding-top: 15px;
}

.manche__fret_sillet{
    background-color: grey;
    border-right: 5px solid black;
}

.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
}

.nav-tabs {
    margin-bottom: 0;
}
